@font-face {
    src: url('./fonts/NanumGothic-Bold.ttf');
}

@font-face {
    src: url('./fonts/NanumGothic-ExtraBold.ttf');
}
@font-face {
    src: url('./fonts/NanumGothic-Regular.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Black.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Bold.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Regular.ttf');
}
@font-face {
    src: url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

.titulo-clinica {
    -fx-font-family: "Cinzel Decorative Regular";
}



