@font-face {
    src: url('./fonts/NanumGothic-Bold.ttf');
}

@font-face {
    src: url('./fonts/NanumGothic-ExtraBold.ttf');
}
@font-face {
    src: url('./fonts/NanumGothic-Regular.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Black.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Bold.ttf');
}
@font-face {
    src: url('./fonts/CinzelDecorative-Regular.ttf');
}
@font-face {
    src: url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}


.nanum-regular{
    -fx-font-family: "NanumGothic";
}
.nanum-bold{
    -fx-font-family: "NanumGothicBold";
}
.nanum-extra-bold{
    -fx-font-family: "NanumGothicExtraBold";
}
.cinzel-regular {
    -fx-font-family: "Cinzel Decorative Regular";
}
.cinzel-bold{
    -fx-font-family: "Cinzel Decorative Bold";
}
.cinzel-black{
    -fx-font-family: "Cinzel Decorative Black";
}
.playfair-italic{
    -fx-font-family: "Playfair Display Italic";
}
.playfair-regular{
    -fx-font-family: "Playfair Display Regular";
}

/*CHECK TERMINOS Y CONDICIONES DE USO*/

.check-terminos .box{
    -fx-background-color: "#C6E9DE";
    -fx-border-color: "#29838C";
    -fx-border-width: 2;
}
/*para que el texto que acompaña al box quede fijo y no se mueva al pasar por encima el cursor*/
.check-terminos .box .label{
    -fx-text-fill: "#29838C";
    -fx-font-size: 14;
}

.check-terminos .box .label: hover{
    -fx-text-fill: "#255951";
}

.check-terminos .box:hover{
    -fx-background-color: "#FFE9BF";
    -fx-border-color: "#FDC373";
}

.check-terminos : hover{
    -fx-background-color: "#FFE9BF";
    -fx-border-color: "#FDC373";
    -fx-check-mark-color: "#FDC373";
}

.check-terminos .box : pressed{
    -fx-background-color: "#FFE9BF";
    -fx-border-color: "#FDC373";
    -fx-check-mark-color: "#FDC373";
}

.check-terminos .mark{
    -fx-check-mark-color: "#FDC373";
}

.check-terminos : active .mark{
    -fx-check-mark-color: "#FDC373";
    -fx-background-color: "#FFE9BF";
}







/*para modificar boton enviar cuando se pasa por encima con el cursor y se cliclea*/
.button-enviar{
    -fx-background-color: "#29838C";
    -fx-text-fill: "#C6E9DE";
    -fx-font-size: 16;
    -fx-background-width: 175;
    -fx-background-height: 25;
}
.button-enviar:hover{
    -fx-background-color: "#23737A";
    -fx-text-fill: "#C6E9DE";
}

.button-enviar:pressed{
    -fx-background-color: "#C4E8DD";
    -fx-text-fill: "#29838C";
}







